<div class="objective">
  <div class="objective-image">
    <%= image_tag_for_objective(public_objective) %>
  </div>
  <div class="objective-text">
    <span class="objective-title"><%= public_objective.title %></span>: <span class="objective-description"><%= public_objective.description %></span>
  </div>
</div>
