<section class="status-phase-overview mb-s">
  <ol>
    <li>Score Objectives</li>
    <li>Reveal Public Objective</li>
    <li>Draw Action Cards (Initiative Order)</li>
    <li>Remove Command Tokens</li>
    <li>Gain and Redistribute Command Tokens</li>
    <li>Ready Planets</li>
    <li>Repair Units</li>
    <li>Return Strategy Cards</li>
  </ol>
</section>

<section class="mb-l">
  <%= button_to "Finish Status Phase", finish_status_phase_game_round_path(game, round) %>
</section>
