<div class="objective">
  <div class="objective-image">
    <%= image_tag_for_objective(secret_objective) %>
  </div>
  <div class="objective-text">
    <span class="objective-title"><%= secret_objective.title %></span>: <span class="objective-description"><%= secret_objective.description %></span>
  </div>
</div>
