<div class="technology">
  <div class="technology-image">
    <%= image_tag_for_technology(technology) %>
  </div>
  <div class="technology-title"><%= link_to technology.title, technology %></div>
</div>
